@import 'vars';
@import 'functions';

footer {
    font-size: $fontFooter;
    grid-area: footer;
    border-top: $borderTopFooter;
    margin-bottom: $marginBottomC;

        .footer__mainSection{
            display: flex;
            padding: $paddMainFooter;
            flex-flow: row nowrap;
            align-items: stretch; 
            border-bottom: $borderBottomFooter;
    
            .footer__menuOptions{
                width: map-get($ScreenViewsPerc, "full");
                @include cFlexDisplay;
                align-items: center;
                text-align: center;
                gap: $gapFooterMO;
            }
    
            .footer__menuOptions--horarios{
                width: map-get($ScreenViewsPerc, "tQuar");
                ul{
                    padding-left: $paddLeftMO;
                    li{
                        margin-bottom: $marginBottomC;
                    }
                }
            }
            
            .footer__menuOptions--turnos{
                width: map-get($ScreenViewsPerc, "half");
                ul {
                    padding-left: $paddLeftMO;
                    li {
                        margin-bottom: $marginBottomC;
                        /* Underline From Left */
                        .hvr-underline-from-left {
                            @include underline-from-left;
                        }
                        .hvr-underline-from-left:before {
                            @include underline-from-left-before;
                            height: $borderRadiusTxtInput;
                        }
                        .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, 
                        .hvr-underline-from-left:active:before { 
                            right: 0; 
                        }
                    }
                }
            }
            .footer__menuOptions--contacto{
                ul{
                    padding-left: $paddLeftMO;
                }
                .footer__menuOptions--redes{
                    @include rFlexDisplay;
                    width: map-get($ScreenViewsPerc, "full");
                    justify-content: center;
                    gap: $gapFooterRedes;
                    a{
                        img{
                            &:hover{
                                transform: scale($redesLogoScale)
                            }
                        }
                    }
                }
            }

            div {
                #nombre {
                    @include menuOptions--text;
                }
                #sendBtn {
                    @include menuOptions--button;
                }
            }
        }
        .endPage {
            text-align: center;
            margin-top: $marginTopFooter;
        }    

}
