@import 'vars';

// Functions & Styling 

@mixin cFlexDisplay { //Display flex con flex-direction columnas 
    display: flex;
    flex-direction: column;
}

@mixin rFlexDisplay { //Display flex con flex-direction filas (por defecto) 
    display: flex;
    flex-direction: row;
}

@mixin styleRespServ { //Estilado en resoluciones hasta 992px en pagina Servicios 
    width: $fullScreen;
    padding: $paddingMobileServ;
    text-align: center;
}

@mixin styleRespBlocks {
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
}

.inputOptionsProperties {
    color: $colorPrincipal;
    border: $borderInput;  
    max-height: $inputOptionsHeight;
    width: auto;
}

@mixin menuOptions--text { 
    cursor: text;
    padding: $paddInput;
    border-radius: $borderRadiusTxtInput;
    background-color: $backgroundInput;
    @extend .inputOptionsProperties;
}

@mixin menuOptions--button { 
    font-weight: bold;
    cursor: pointer;
    padding: $paddButton;
    background: $backgroundInput;
    border-radius: $borderRadiusButton;
    @extend .inputOptionsProperties;
    &:hover{
        color: $colorSecundario;
        border: $borderInput;
        background: $colorPrincipal;
    }
}

@mixin titlesMainSection{ 
    font: {
        size: $titulosIndex;
        weight: $weightTitulos;
    }
    margin-bottom: $marginTitleMainSection;
    @media screen and (max-width: 576px){
        font-size: $fontTitlesMobile;
    }
}

@mixin underline-from-left{ //Hover effect header items & footer items
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: $boxShadowUnderline;
    position: relative;
    overflow: hidden;
}

@mixin underline-from-left-before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: $colorBorderFooter;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}



