@import 'vars';

//Mobile-Tablet

@media screen and (max-width: 992px) {

    body {
        overflow-x: hidden;
        ::-webkit-scrollbar {
            display: none;
            overflow-y: hidden;
        }
        header {
            .redes {
                display: none;
            }
        }
        .grid-area{ //Pagina Index 
            display: grid;
            grid-template-areas: "video" "info1" "img1" "info2" "img2" "serv";
            .contenedorVideo {
                width: 100vw;
                height: min-content;
            }
            .qsText{
                text-align: center;
                align-items: flex-start;
                padding: 3%;
            }
            .salonText{
                text-align: center;
                align-items: flex-start;
                padding: 3%;
            }
            .qsImg {
                width: 100vw;
                justify-content: center;
                img {
                    padding: 0% 5% 0% 5%;
                }
            }
            .salonImg {
                width: 100vw;
                justify-content: center;
                img {
                    padding: 0% 5% 0% 5%;
                }
            }
            .mosaico{
                width: 100vw;
                .mosaico__img {
                    flex-direction: column;
                    gap: none;
                    div {
                        img{
                            width: 100vw;
                            padding: 0% 5% 0% 5%;
                        }
                    }
                }
            }
        }
        footer {
            .footer__mainSection{
                flex-direction: column;
                border-bottom: none;
                align-items: center;
                .footer__menuOptions--horarios {
                    ul {
                        li {
                            margin-bottom: 5px;
                            color: rgb(148, 142, 142);
                        }
                    }
                }
                .footer__menuOptions--turnos {
                    ul {
                        li {
                            margin-bottom: 5px;
                            a {
                                color: rgb(148, 142, 142);
                            }
                        }
                    }
                }
                .footer__menuOptions--suscr{
                    display: none;
                }
                .footer__menuOptions--contacto{
                    p{
                        display: none;
                    }
                    ul {
                        li {
                            margin-bottom: 5px;
                            color: rgb(148, 142, 142);
                        }
                    }
                }
            }
            .endPage{
                display: none;
            }
        }
        .gridAreaServ {  // Pagina Servicios
            grid-template-areas: "txt1" "imgn1" "txt2" "imgn2" "txt3" "imgn3" "txt4" "imgn4" "txt5" "imgn5" "txt6" "imgn6" "precios"    "footer";
            span {
                img {
                    width: fit-content;
                }
            }
            @for $i from 1 to 7 {
                .textBlock#{$i} { 
                    @include styleRespServ;
                }
                .imgBlock#{$i} { 
                    @include styleRespServ;
                }
            }
            .flexTextPropLeft, .flexImgPropLeft, .flexTextPropRight, .flexImgPropRight{
                @include styleRespServ;
                @include styleRespBlocks;
            }
            .gridListaPrecios{
                @include styleRespServ;
                @include cFlexDisplay;
                .gridTextLP, .gridTitleLP {padding: $paddingMobileTitleLP}
            }
        }
        .gridAreaLookbook { // Pagina Lookbook
            @include cFlexDisplay;
            padding: $paddingMobileLBook;
            .tituloLB, .textoLB, & div h2{ 
                @include cFlexDisplay;
                align-items: center;
                text-align: center;
            }
        }
        .Turnos { //Pagina Turnos
            @include cFlexDisplay;
            padding: $paddingGridTurnos;
            align-items: center;
            gap: $gapMosaico;
        }
        .contactLayout{ //Pagina Contacto
            @include cFlexDisplay;
            padding: $paddingGridTurnos;
            align-items: center;
            gap: $gapContacto;
            .contacto{
                text-align: center;
                padding: $paddContactoMobile;
                div {
                    iframe {
                        width: $googleMap;
                    }  
                }
            }  
            .consulta {
                gap: $gapMobileContacto;
                padding: $paddContactoMobile;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        overflow-x: hidden;
        header {
            .redes {
                display: none;
            }
        }
        .grid-area { // Pagina Index 
            .qsImg, .salonImg {
                justify-content: center;
            }
        }
        .gridAreaServ { // Pagina Servicios
            .gridListaPrecios {
                text-align: center;
            }
        }
        .contactLayout{ //Pagina Contacto
            @include rFlexDisplay;
            .contacto {
                @include cFlexDisplay;
                align-items: center;
                padding-right: 0%;
                p { text-align: center; }
            }
            .consulta{
                form { padding-top: $paddTopTabletContacto; }
            }
        }
    }
}