@import 'vars';

@media screen and (max-width: 576px){
    .mosaicoMobile {
        .row {
            #control1 {
                .carousel-inner {
                    .carousel-control-prev { left: -$paddingSide; }
                    .carousel-control-next{ right: -$paddingSide; }
                }
            }
        }
    }
    .gridAreaServ {
        span {
            img {
                max-width: $maxWidthAreaServ;
                max-height: $maxHeightAreaServ;
            }
        }
        .gridListaPrecios {
            .precios {
                grid-template-columns: 0.25fr 0.75fr 0.5fr 0.05fr;
            }
        }    
    }
    .Turnos {
        .reserva {
            .formularioLayout {
                grid-template-rows: none !important;
            }
        }
    }
    .contactLayout {
        .contacto {
            ul{
                li {
                    span { text-align: left; }
                }
            }
            div {
                iframe { max-height: $maxHeightIFrame; }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .mosaicoMobile {
        .row {
            #control1 {
                .carousel-inner {
                    .carousel-control-prev { left: $carruselInner768; }
                    .carousel-control-next { right: $carruselInner768; }
                }
            }
        }
    }
    .gridAreaServ {
        .gridListaPrecios {
            .precios {
                grid-template-columns: 0.75fr 1fr 0.75fr 0.25fr;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .mosaicoMobile {
        .row {
            #control1 {
                .carousel-inner {
                    .carousel-control-prev { left: $carruselInner992; }
                    .carousel-control-next{ right: $carruselInner992; } 
                }
            }
        }
    }
    .gridAreaServ {
        .gridListaPrecios {
            .precios {
                grid-template-columns: 1.5fr 1.25fr 1fr 0.75fr;
            }
        }
    }
}

@media screen and (max-width: 992px) {

    body {
        overflow-x: hidden;
        ::-webkit-scrollbar {
            display: none;
            overflow-y: hidden;
        }
        header {
            .redes { 
                display: none; 
            } 
        }
        .grid-area{ //Pagina Index 
            display: grid;
            grid-template-areas: "video" "info1" "img1" "info2" "img2" "serv";
            .contenedorVideo {
                width: $fullScreen;
                height: min-content;
            }
            .qsText{
                text-align: center;
                align-items: flex-start;
                padding: $paddTextServ;
            }
            .salonText{
                text-align: center;
                align-items: flex-start;
                padding: $paddTextServ;
            }
            .qsImg {
                width: $fullScreen;
                justify-content: center;
                img {
                    padding: $paddingMobileServ;
                }
            }
            .salonImg {
                width: $fullScreen;
                justify-content: center;
                img {
                    padding: $paddingMobileServ;
                }
            }
            .mosaico{
                width: $fullScreen;
                .mosaico__img {
                    flex-direction: column;
                    gap: none;
                    div {
                        img{
                            width: $fullScreen;
                            padding: $paddingMobileServ;
                        }
                    }
                }
            }
            .mosaicoMobile{
                text-align: center;
            }
        }
        footer {
            .footer__mainSection{
                flex-direction: column;
                border-bottom: none;
                align-items: center;
                .footer__menuOptions--horarios {
                    ul {
                        li {
                            margin-bottom: $marginTopFooter;
                            color: $colorFooterMO;
                        }
                    }
                }
                .footer__menuOptions--turnos {
                    ul {
                        li {
                            margin-bottom: $marginTopFooter;
                            a {
                                color: $colorFooterMO;
                            }
                        }
                    }
                }
                .footer__menuOptions--suscr{
                    display: none;
                }
                .footer__menuOptions--contacto{
                    p{
                        display: none;
                    }
                    ul {
                        li {
                            margin-bottom: $marginTopFooter;
                            color: $colorFooterMO;
                        }
                    }
                }
            }
            .endPage{
                display: none;
            }
        }
        .gridAreaServ {  // Pagina Servicios
            grid-template-areas: "txt1" "imgn1" "txt2" "imgn2" "txt3" "imgn3" "txt4" "imgn4" "txt5" "imgn5" "txt6" "imgn6" "precios"    "footer";
            span {
                img { width: fit-content; }
            }
            @for $i from 1 to 7 {
                .textBlock#{$i} { 
                    @include styleRespServ;
                }
                .imgBlock#{$i} { 
                    @include styleRespServ;
                }
            }
            .flexTextPropLeft, .flexImgPropLeft, .flexTextPropRight, .flexImgPropRight{
                @include styleRespServ;
                @include styleRespBlocks;
            }
        }
        .gridAreaLookbook { // Pagina Lookbook
            @include cFlexDisplay;
            padding: $paddingMobileLBook;
            .tituloLB, .textoLB, & div h2{ 
                @include cFlexDisplay;
                align-items: center;
                text-align: center;
            }
        }
        .Turnos { //Pagina Turnos
            @include cFlexDisplay;
            padding: $paddingGridTurnos;
            align-items: center;
            gap: $gapMosaico;
            .calendar {
                margin-top: 0;
            }
        }
        .contactLayout{ //Pagina Contacto
            @include cFlexDisplay;
            padding: $paddingGridTurnos;
            align-items: center;
            gap: $gapContacto;
            .contacto{
                text-align: center;
                padding: $paddContactoMobile;
                div {
                    iframe { width: $googleMap; }  
                }
            }  
            .consulta {
                gap: $gapMobileContacto;
                padding: $paddContactoMobile;
                form {
                    padding-top: $paddForm;
                    justify-content: center;
                    p {padding-right: $paddFormulario;}
                    #adjunto { padding-left: $paddArchAdj; }
                }

            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        overflow-x: hidden;
        header {
            .redes {
                display: none;
            }
        }
        .grid-area { // Pagina Index 
            gap: 0;
            .qsImg {
                justify-content: center;
                max-width: $maxWidthImgIndex;
                margin-right: $marginImgIndex;
                padding-top: $paddImagesServ;
            }
            .salonImg {
                justify-content: center;
                max-width: $maxWidthImgSalon;
                margin-left: $marginServ;
            }
            .qsText, .salonText {
                padding: $paddTextIndex;
            }
            .mosaico{
                padding-left: $paddingSide;
                padding-right: $paddingSide;
                margin-top: $marginTopMosaico;
                .mosaico__img {
                    gap: $gapMosaicoMobile;
                }
            }
        }
        .gridAreaServ { // Pagina Servicios
            .flexImgPropLeft, .flexImgPropRight{
                img { max-width: $maxImgServ1200; }
            }
            .flexTextPropLeft {
                padding: $paddingTextPropLeft;
            } 
            .flexTextPropRight{
                padding: $paddingTextPropRight;
            }
            .gridListaPrecios {
                .precios {
                    grid-template-columns: 1.75fr 1fr 0.75fr 1fr;
                }
            }
        }
        .contactLayout{ //Pagina Contacto
            @include rFlexDisplay;
            .contacto {
                @include cFlexDisplay;
                align-items: center;
                p { text-align: center; }
            }
            .consulta{
                form { 
                    padding-top: $paddTopTabletContacto;
                    justify-content: center;
                    p {padding-right: $paddFormulario;}
                    #adjunto { padding-left: $paddAdjunto; }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: $fontBody;
        header {
            nav {
                div {
                    div {
                        div { 
                            ul {
                                li {
                                    /* Underline From Left   */
                                    .hvr-underline-from-left {
                                        @include underline-from-left;
                                    }
                                    .hvr-underline-from-left:before {
                                        @include underline-from-left-before;
                                        height: $heightUnderline;
                                    }
                                    .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, 
                                    .hvr-underline-from-left:active:before { 
                                        right: 0; 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .grid-area {
            .salonImg {
                padding-left: $paddImagesServ;
                padding-right: $paddImagesServ;
            }
            .qsImg{
                padding-right: $paddImagesServ;
                padding-left: $paddImagesServ;
            }
            .mosaico {
                padding-left: $paddForm;
                padding-right: $paddForm;
            }
        }
        .gridAreaServ{
            .gridListaPrecios {
                .precios {
                    grid-template-columns: 2fr 1fr 1fr 1.25fr;
                }
            }
        }
    }
}


