@import 'vars';

@media screen and (max-width: 576px){
    .mosaicoMobile {
        .row {
            #control1 {
                .carousel-inner {
                    .carousel-control-prev { left: -1vw; }
                    .carousel-control-next{ right: -1vw; }
                }
            }
        }
    }
    .gridAreaServ {
        span {
            img {
                max-width: 375px;
                max-height: 325px;
            }
        }
        .gridListaPrecios {
            .precios {
                grid-template-columns: 0.25fr 0.75fr 0.5fr 0.05fr !important;
            }
        }    
    }
    .Turnos {
        .reserva {
            .formularioLayout {
                grid-template-rows: none !important;
                //input, select { max-width: 170px; }
            }
        }
    }
    .contactLayout {
        .contacto {
            ul{
                li {
                    span { text-align: left; }
                }
            }
            div {
                iframe { max-height: 55vh; }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .mosaicoMobile {
        .row {
            #control1 {
                .carousel-inner {
                    .carousel-control-prev { left: 5vw; }
                    .carousel-control-next { right: 5vw; }
                }
            }
        }
    }
    .gridAreaServ {
        .gridListaPrecios {
            .precios {
                grid-template-columns: 0.75fr 1fr 0.75fr 0.25fr !important;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .mosaicoMobile {
        .row {
            #control1 {
                .carousel-inner {
                    .carousel-control-prev { left: 14vw; }
                    .carousel-control-next{ right: 14vw; } 
                }
            }
        }
    }
    .gridAreaServ {
        .gridListaPrecios {
            .precios {
                grid-template-columns: 1.5fr 1.25fr 1fr 0.75fr !important;
            }
        }
    }
}

@media screen and (max-width: 992px) {

    body {
        overflow-x: hidden;
        ::-webkit-scrollbar {
            display: none;
            overflow-y: hidden;
        }
        header {
            .redes { 
                display: none; 
            } 
        }
        .grid-area{ //Pagina Index 
            display: grid;
            grid-template-areas: "video" "info1" "img1" "info2" "img2" "serv";
            .contenedorVideo {
                width: 100vw;
                height: min-content;
            }
            .qsText{
                text-align: center;
                align-items: flex-start;
                padding: 3%;
            }
            .salonText{
                text-align: center;
                align-items: flex-start;
                padding: 3%;
            }
            .qsImg {
                width: 100vw;
                justify-content: center;
                img {
                    padding: 0% 5% 0% 5%;
                }
            }
            .salonImg {
                width: 100vw;
                justify-content: center;
                img {
                    padding: 0% 5% 0% 5%;
                }
            }
            .mosaico{
                width: 100vw;
                .mosaico__img {
                    flex-direction: column;
                    gap: none;
                    div {
                        img{
                            width: 100vw;
                            padding: 0% 5% 0% 5%;
                        }
                    }
                }
            }
            .mosaicoMobile{
                text-align: center;
            }
        }
        footer {
            .footer__mainSection{
                flex-direction: column;
                border-bottom: none;
                align-items: center;
                .footer__menuOptions--horarios {
                    ul {
                        li {
                            margin-bottom: 5px;
                            color: rgb(148, 142, 142);
                        }
                    }
                }
                .footer__menuOptions--turnos {
                    ul {
                        li {
                            margin-bottom: 5px;
                            a {
                                color: rgb(148, 142, 142);
                            }
                        }
                    }
                }
                .footer__menuOptions--suscr{
                    display: none;
                }
                .footer__menuOptions--contacto{
                    p{
                        display: none;
                    }
                    ul {
                        li {
                            margin-bottom: 5px;
                            color: rgb(148, 142, 142);
                        }
                    }
                }
            }
            .endPage{
                display: none;
            }
        }
        .gridAreaServ {  // Pagina Servicios
            grid-template-areas: "txt1" "imgn1" "txt2" "imgn2" "txt3" "imgn3" "txt4" "imgn4" "txt5" "imgn5" "txt6" "imgn6" "precios"    "footer";
            span {
                img { width: fit-content; }
            }
            @for $i from 1 to 7 {
                .textBlock#{$i} { 
                    @include styleRespServ;
                }
                .imgBlock#{$i} { 
                    @include styleRespServ;
                }
            }
            .flexTextPropLeft, .flexImgPropLeft, .flexTextPropRight, .flexImgPropRight{
                @include styleRespServ;
                @include styleRespBlocks;
            }
            /* .gridListaPrecios{
                @include styleRespServ;
                @include cFlexDisplay;
                .gridTextLP, .gridTitleLP {padding: $paddingMobileTitleLP}
            } */
        }
        .gridAreaLookbook { // Pagina Lookbook
            @include cFlexDisplay;
            padding: $paddingMobileLBook;
            .tituloLB, .textoLB, & div h2{ 
                @include cFlexDisplay;
                align-items: center;
                text-align: center;
            }
        }
        .Turnos { //Pagina Turnos
            @include cFlexDisplay;
            padding: $paddingGridTurnos;
            align-items: center;
            gap: $gapMosaico;
            .calendar {
                margin-top: 0;
            }
        }
        .contactLayout{ //Pagina Contacto
            @include cFlexDisplay;
            padding: $paddingGridTurnos;
            align-items: center;
            gap: $gapContacto;
            .contacto{
                text-align: center;
                padding: $paddContactoMobile;
                div {
                    iframe { width: $googleMap; }  
                }
            }  
            .consulta {
                gap: $gapMobileContacto;
                padding: $paddContactoMobile;
                form {
                    padding-top: 2%;
                    justify-content: center;
                    p {padding-right: 10px;}
                    #adjunto { padding-left: 2vw; }
                }

            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        overflow-x: hidden;
        header {
            .redes {
                display: none;
            }
        }
        .grid-area { // Pagina Index 
            gap: 0;
            .qsImg {
                justify-content: center;
                max-width: 550px;
                margin-right: 2%;
                padding-top: 5%;
            }
            .salonImg {
                justify-content: center;
                max-width: 505px;
                margin-left: 5%;
            }
            .qsText, .salonText {
                padding: 5% 5% 2% 5%;
            }
            .mosaico{
                padding-left: $paddingSide;
                padding-right: $paddingSide;
                margin-top: 1%;
                .mosaico__img {
                    gap: $gapMosaicoMobile;
                }
            }
        }
        .gridAreaServ { // Pagina Servicios
            .flexImgPropLeft, .flexImgPropRight{
                img { max-width: $maxImgServ1200; }
            }
            .flexTextPropLeft {
                padding: 0% 0% 5% 15%;
            } 
            .flexTextPropRight{
                padding: 0% 15% 5% 0%;
            }
            .gridListaPrecios {
                //text-align: center;
                .precios {
                    grid-template-columns: 1.75fr 1fr 0.75fr 1fr;
                }
            }
        }
        .contactLayout{ //Pagina Contacto
            @include rFlexDisplay;
            .contacto {
                @include cFlexDisplay;
                align-items: center;
                //padding-right: 0%;
                p { text-align: center; }
            }
            .consulta{
                form { 
                    padding-top: $paddTopTabletContacto;
                    justify-content: center;
                    p {padding-right: 10px;}
                    #adjunto { padding-left: 25px; }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 18px;
        header {
            nav {
                div {
                    div {
                        div { 
                            ul {
                                li {
                                    /* Underline From Left   */
                                    .hvr-underline-from-left {
                                        @include underline-from-left;
                                    }
                                    .hvr-underline-from-left:before {
                                        @include underline-from-left-before;
                                        height: 4px;
                                    }
                                    .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, 
                                    .hvr-underline-from-left:active:before { 
                                        right: 0; 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .grid-area {
            .salonImg {
                padding-left: 5%;
                padding-right: 5%;
            }
            .qsImg{
                padding-right: 5%;
                padding-left: 5%;
            }
            .mosaico {
                padding-left: 2%;
                padding-right: 2%;
            }
        }
    }
}
