@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'vars';
@import 'header';
@import 'footer';
@import 'responsive';
@import 'functions';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font: {
        family: "Lato";
    }    
    color: $colorPrincipal;
    background: $backgroundImage;
    overflow-x: hidden;
    max-width: $fullScreen;
    ol { padding: 0; }
}

/* --------------------- PAGINA INDEX ------------------------- */

.grid-area {

    display: grid;
    grid-template-areas: "video video" "info1 img1" "img2 info2" "serv serv";
    gap: $gapGrid;

    .contenedorVideo {
        grid-area:video;
        overflow: hidden;
        max: {
            height: $videoIndexView;
            width: $fullScreen;
        }
        #videoIntro {
            width: $fullScreen;
        }
    }

    .qsText {
        grid-area: info1;    
        @include cFlexDisplay;    
        align-items: flex-start;
        padding: $paddingIndexSPpal;
    }
     
    .qsImg{
        grid-area: img1;
        @include cFlexDisplay;
        align-items: center;
        justify-content: center;
    }
    
    .salonText{
        grid-area: info2;
        @include cFlexDisplay;
        align-items: flex-start;
        padding: $paddingIndexSPpal;
    }
    
    .salonImg{
        grid-area: img2;
        @include cFlexDisplay;
        align-items: center;
        justify-content: center;
    }

    div {
        h2 { @include titlesMainSection; }
    }

    .mosaico{
        grid-area: serv;
        .servTitle {
            padding-left: $paddLeftST;
        }
        .mosaico__img{
            display: flex;
            gap: $gapMosaico;
            margin-bottom: $marginBottomC;
            justify-content: center;  
            .hvr-shrink {               // Shrink 
                display: inline-block;
                vertical-align: middle;
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px $nullColor;
                transition-duration: $shrinkTrans;
                transition-property: transform;
                &:hover, &:focus, &:active {
                    transform: scale($shrinkScale);
                }  
            }  
        }
        h2 {
            @include titlesMainSection;
        }
    }  

    .mosaicoMobile {        //Carrusel que aprece solo en Mobile
        margin-bottom: $marginMosaicoMobile;
    }
}

/* --------------------- PAGINA SERVICIOS ------------------------- */

.gridAreaServ {
    display: grid;
    grid-template-areas: 
        "txt1 imgn1" "imgn2 txt2" "txt3 imgn3" "imgn4 txt4" "txt5 imgn5" "imgn6 txt6" "precios precios" "footer footer";
    gap: $gapGrid;

    div {
        h1 { @include titlesMainSection; }
    }

    @for $i from 1 to 7 {
        .textBlock#{$i} { grid-area: txt + $i; }
        .imgBlock#{$i} { grid-area: imgn + $i; }
    }

    .textBlock1, .imgBlock1 {margin-top: $marginTopServ;}

    span {
        img {
            max-width: $maxImgServ;
            height: auto;
        }
    }

    .flexTextPropLeft{
        @include cFlexDisplay;
        align-items: flex-start;
        justify-content: center;
        gap: $gapTextServ;
        padding: $paddingTextServL;
    }

    .flexTextPropRight{
        @include cFlexDisplay;
        align-items: flex-start;
        justify-content: center;
        gap: $gapTextServ;
        padding: $paddingTextServR;
    }

    .flexImgPropRight{
        @include cFlexDisplay;
        justify-content: flex-start;
        padding-left: $paddImagesServ;
    }
        
    .flexImgPropLeft{
        display: flex;
        justify-content: flex-end;
        padding-right: $paddImagesServ;
    }

    .gridListaPrecios{
        grid-area: precios;
        .gridTitleLP, .gridTextLP {
            grid-column: 1/5;
            display: flex;
            justify-content: center;
        }
        .listaPrecios{
            @include cFlexDisplay;
            align-items: center;
            .tituloPrincipal{
                font-size: $titulosLP;
                font-weight: $weightTitulos;
            }
        }
    }
}

/* --------------------- PAGINA LOOKBOOK -------------------------- */

.gridAreaLookbook{
    .tituloLB, .textoLB, & div h2{ 
        display: grid;
        justify-content: center;
        gap: $gapLookbook;
    }
}

/* --------------------- PAGINA TURNOS ---------------------------- */

.Turnos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: $paddingGridTurnos;
    .reserva{
        @include cFlexDisplay;
        justify-content: center;
        align-items: center;
        h1 { @include titlesMainSection; }
        .formularioLayout{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
            gap: $gapTurnos;
            padding: $paddFormulario;
            div{
                grid-column: 1/3;
                text-align: center;
            }
            #horario{
                grid-row: 6/7;
                grid-column: 1/3;
                text-align: center;
                justify-self: center;
            }
            span{
                grid-row: 7/8;
                grid-column: 1/3;
                text-align: center;
            }
            p{
                display: flex;
                justify-content: center;
            }
        }   
        form {
            #nya, #apellido, #telefono, #servicio, #horario{
                @include menuOptions--text;
            } 
            span {
                #enviarBtn {
                    @include menuOptions--button;
                }
            }
        }
    }
    .calendar{
        width: map-get($ScreenViewsPerc, "calendar");
        border: $borderCalendar;
        justify-content: center;
        height: min-content;
        margin-top: 5%;
        .tituloCal{
            text-align: center;
            margin: $marginTitCal;
        }
        ol{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
            justify-content: center;
            align-content: center;
            li{
                text-align: right;
                padding: $paddListCal;
            }
            .dayName{
                background: $backgroundWeekDays;
                font-weight: bold;
                display: flex;
                justify-content: center;
            }
            .firstDay{grid-column-start: $firstDay;}
            .day {
                &:hover{
                    background-color: $backgroundCalDays; 
                }
            }
        }
    }
}

/* --------------------- PAGINA CONTACTO -------------------------- */

.contactLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: $marginContactGrid;
    .contacto{
        @include cFlexDisplay;
        justify-content: flex-start;
        gap: $gapContacto;
        padding-right: $paddContacto;
        h1 { @include titlesMainSection; }
        ul{
            @include cFlexDisplay;
            justify-content: center;
            li{
                display: flex;
                align-items: center;
                gap: $gapContacto;
                padding-bottom: $paddBottomLi;
            }
        }
    }
    .consulta {
        form{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content;
            gap: $gapFormConsulta;
            padding-top: $paddCons;
            justify-content: space-evenly;
            align-content: space-around;
            div {
                grid-column: 1/3;
                justify-self: center;
                input {
                    @include menuOptions--button;
                }
            }
            h3{
                grid-column: 1/3;
                justify-self: start;
            }
            #nombre, #apellido, #telefono, #email {
                @include menuOptions--text;
            }
            #consulta {
                @include menuOptions--text;
                max-height: none;
            }
        }
    }
}

// Bootstrap Classes

.bg-dark{
    background: $backgroundNav;
    opacity: $backgroundOpacity;
}

.img-thumbnail{
    background-color: $nullColor;
    border-style: $borderStyleBS;
}

.inner-item { 
    text-align: center; 
    img { margin: 0 auto; } 
}




